@keyframes glow {
  0% {
    opacity: 0.75;
    text-shadow: 0 0 5px rgba(197, 15, 181, 0.8);
  }
  25% {
    opacity: 0.8;
    text-shadow: 0 0 7.5px rgba(218, 56, 207, 0.85);
  }
  50% {
    opacity: 0.85;
    text-shadow: 0 0 10px rgba(218, 56, 207, 0.9);
  }
  75% {
    opacity: 0.9;
    text-shadow: 0 0 12.5px rgba(218, 56, 207, 0.95);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 15px rgba(218, 56, 207, 1);
  }
}

.glow {
  animation: glow 4s ease-in infinite;
}
